doctype html
html
    head
    #halo
        h1 Bienvenu sur notre site Doodle
        router-link(to="/login")
            b-button Login
        p
        router-link(to="/register")
                b-button Register
        router-view
