#halo

    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        a.navbar-brand(href='/#/') Pazu Project
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item(v-show="this.$session.get('token')===undefined")
                a.nav-link.active(aria-current='page' href='/#/login') Login
            li.nav-item(v-show="this.$session.get('token')===undefined")
                a.nav-link.active(aria-current='page' href='/#/register') Register
            li.nav-item(v-show="this.$session.get('token')!==undefined")



            li.nav-item(v-show="this.$session.get('token')!==undefined")
              b-button.nav-link.active(aria-current='page' @click="logout" ) Logout

    b-col.text-center(style="\
                     background-image: url('https://cdn.wallpapersafari.com/72/55/aCGcy2.jpg');\
                     width: auto;\
                     height: 800px;\
                     ")

        h1 Bienvenue sur Doodle
        router-view
